<form [formGroup]="employeeForm" (ngSubmit)="submitData()" class="addEmpForm">
    <p>
      <label for="search">Search Values: </label>
      <input formControlName="srchItem" id="search" type="text">
    </p>
      
    <table class="table table-bordered" formArrayName="emps" style="width: 100%;">  
        <tr>  
          <th>Add Multiple Employee:</th>
          <th colspan="3"><button type="button" (click)="addEmployee()" class="btn btn-primary" id="btnAdd">Add More</button></th>  
        </tr> 
        
        <tr *ngFor="let emp of rtnEmpArray().controls; let i=index" [formGroupName]="i" id="ROW{{i}}">  
          <td>  
              Employee Name :  
              <input type="text" formControlName="EmpName" class="form-control">  
          </td>  
          <td>  
            Address :  
            <input type="text" formControlName="Address" class="form-control">  
        </td>  
          <td>  
            Gender :  
              <input type="text" formControlName="Gender" class="form-control">  
          </td> 
          
          <td *ngIf="i > 0">  
            <button (click)="removeEmp(i)" class="btn btn-danger delBtn">Remove</button>  
        </td> 
        <td *ngIf="i > 0">
          <button (click)="editEmp(i)" class="delBtn">Edit</button>
        </td>
        </tr>  
      </table>  
       
      <button type="submit" id = "sbmtEmpForm" class="btn btn-success submitBtn">Submit</button> 
</form>
